html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
body {
  /*font-family: 'Lato', serif;*/
  margin: 0px;
  height: 100%;
}
#websh {
  color: white;
  background-color: black;
  width: 100%;
  height: 100%;
}
.terminal {
  font: 13px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.header {
  padding: 10px;
  padding-left: 20px;
  background-color: #eee;
}
.header h2 {
  margin: 5px;
}
